@import "tailwindcss";

@theme {
  --color-slate-dark: #0f172a;
  --color-slate-grey: #1e293b;
  --color-emerald-green: #10b981;
  --color-vivid-purple: #8b5cf6;
}

body {
  background-color: var(--color-slate-dark);
  color: #f8fafc;
  min-height: 100vh;
}
